.flex-row {
    gap: 5px;
}

.flex-column {
    gap: 4px;
}

.form-submit {
    margin-top: 0px !important;
}
  
.form-multi-input {
    background-color: rgb(237, 237, 237);
    padding: 2px;
    border-radius: 8px;
  }