@use '@angular/material' as mat;
@import '~material-icons/iconfont/material-icons.css';
@import "~@angular/material/prebuilt-themes/azure-blue.css";
@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

.title-label {
    text-align: center;
}

.flex-column {
  border-radius: 8px;
}

.form-container {
  padding: 5px;
}

.component-container {
  background-color: rgb(243, 243, 243);
  margin: 3px 3px 3px 0px;
  padding: 4px;
}

.form-container mat-form-field {
    padding: 5px;
}

table {
  border-color: var(--bs-secondary-border-subtle) !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-left: 0px !important;
  border-top: 0px !important;
}

