<div class="component-container">
    <h5 class="title-label">Sales:</h5>
    <app-sale-form (saleCreated)="onSaleCreated()"/>
    <div class="form-separator"></div>

    <div class="d-flex flex-row table-toolbar align-items-center box-border">
        <div class="d-flex flex-column" style="visibility: hidden;">
            <input placeholder="Spacer for resource control, later date search" class="form-control"><!-- style="visibility: hidden">-->
        </div>
        <div class="d-flex flex-column table-toolbar-spacer"></div>
        <div class="d-flex flex-column">
            <app-paging-tool [paginator]="this.paginator"/>
        </div>
    </div>

    <table [dataSource]="salesDataSource" class="box-border"
        mat-table matSort matSortActive="date" matSortDirection="desc" >
        <mat-paginator/>
   
        <ng-container matColumnDef="resource" style="flex: 0.65">
            <th mat-header-cell *matHeaderCellDef > Resource </th>
            <td mat-cell *matCellDef="let sale" [class.clickable-cell]="selectedResource == null" 
                (click)="onClickResource(sale.resource)"> 
                    {{sale.resource?.name | resourceName }} </td>
        </ng-container>
        
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let sale"> {{ sale.isSold ? "- " : "&nbsp;&nbsp;" }}{{ sale.amount }} </td>
        </ng-container>
        
        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
            <td mat-cell *matCellDef="let sale"> {{ sale.cost | currencyPostfix }} </td>
        </ng-container>
        
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let sale"> {{ sale.date | dateTruncate }} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let sale"> 
                <button mat-icon-button (click)="deleteSale(sale)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>