<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="d-flex flex-column form-group">

      <div class="d-flex flex-row">
        <div class="d-flex flex-column">
          <mat-form-field appearance="outline">
            <mat-label for="amount">Amount</mat-label>
            <input matInput formControlName="amount" type="number"/>
          </mat-form-field>
        </div>
          
        <div class="d-flex flex-column">
          <mat-form-field appearance="outline">
            <mat-label for="cost">Cost</mat-label>
            <input matInput formControlName="cost" type="number"/>
          </mat-form-field>
        </div>
          
        <div class="d-flex flex-column">
          <mat-label for="isSold">isSold</mat-label>
          <mat-checkbox formControlName="isSold"/>
        </div>
      </div>
      
      <div class="d-flex flex-row">
        <button *ngIf="isResourceSelected()" class="btn btn-success">Create</button>
        <button disabled=true *ngIf="!isResourceSelected()" class="btn btn-secondary">Select Resource</button>
      </div>
    </div>
  </form>
</div>