<div class="component-container">
    <h5 class="title-label">Resources:</h5>
    <app-resource-form (resourceCreated)="onResourceCreated()"/>
    <div class="form-separator"></div>

    <div class="d-flex flex-row table-toolbar align-items-center box-border">
        <div class="d-flex flex-column">
            <input (keyup)="applyFilter($event)" placeholder="Search" class="form-control">
        </div>
        <div class="d-flex flex-column table-toolbar-spacer"></div>
        <div class="d-flex flex-column">
            <app-paging-tool [paginator]="this.paginator"/>
        </div>
    </div>

    <table [dataSource]="resourcesDataSource" class="box-border"
        mat-table matSort matSortActive="name" matSortDirection="asc" >
        <mat-paginator/>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> Resource </th>
            <td mat-cell *matCellDef="let resource" class="clickable-cell" 
                (click)="onClickResource(resource)"> 
                    {{ resource.name | resourceName }} </td>
        </ng-container>

        <ng-container matColumnDef="quality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> Quality </th>
            <td mat-cell *matCellDef="let resource"> {{ resource.quality }} </td>
        </ng-container>   

        <ng-container matColumnDef="onStock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"> Stock </th>
            <td mat-cell *matCellDef="let resource"> {{ resource.onStock }} </td>
        </ng-container>    
        
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let resource"> 
                <button mat-icon-button (click)="deleteResource(resource)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
</div>