.mat-column-name {
    flex: 0.6 !important;
    max-width: 180px !important;
}

.mat-column-onStock {
    max-width: fit-content !important;
}

.mat-column-delete {
    max-width: fit-content !important;
}
