<div class="component-container custom-navbar">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <button class="btn btn-secondary" routerLink="/resources">Resources</button>
        </div>
        <div class="d-flex flex-column">
            <button class="btn btn-secondary" routerLink="/recipes">Recipes</button>
        </div>
        <div class="d-flex flex-column">
            <button disabled=true class="btn btn-secondary">Summaries</button>
        </div>
        <div class="d-flex flex-column">
            <button disabled=true class="btn btn-secondary">Crafters</button>
        </div>
        <div class="d-flex flex-column">
            <button disabled=true class="btn btn-secondary">Calculation</button>
        </div>
    </div>
</div>