<div class="d-flex- flex-row flex-group">
    <div class="d-flex flex-column row-header" *ngIf="isGeneralBalance"> Every Sale</div>
    <div class="d-flex flex-column row-header" *ngIf="!isGeneralBalance">
        {{ this.selectedResource == null ? "Selected Resource" : this.selectedResource.name | resourceName }}
    </div>
</div>
<div class="d-flex flex-row flex-group">
    <div class="d-flex flex-column"> Expenses: </div>
    <div class="d-flex flex-column expenses"> {{ this.expenses | currencyPostfix }} </div>
</div>
<div class="d-flex flex-row flex-group">
    <div class="d-flex flex-column"> Income: </div>
    <div class="d-flex flex-column income"> {{ this.income | currencyPostfix }} </div>
</div>
<div class="d-flex flex-row flex-group">
    <div class="d-flex flex-column"> Balance: </div>
    <div class="d-flex flex-column balance"> {{ this.balance() | currencyPostfix }} </div>
</div>