<div class="backdrop">
    <div class="page-body">
        <h3 class="title-label"> {{ this.appTitle }} </h3>
        <div class="component-container custom-navbar">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column">
                    <button class="btn btn-secondary" routerLink="/resourcesControl">Resources control</button>
                </div>
                <div class="d-flex flex-column">
                    <button class="btn btn-secondary" routerLink="/resources">Resources</button>
                </div>
                <div class="d-flex flex-column">
                    <button class="btn btn-secondary" routerLink="/sales">Sales</button>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>