.backdrop {
    //background-color: #e4ffff;
    padding-bottom: 20px;
}

.page-body {
    background-color: var(--bs-white);
    margin: auto;
    width: fit-content;
    min-height: 100vh;
}

.custom-navbar {
    width: 100%;
}

.custom-navbar .flex-row{
    width: fit-content;
    gap: 10px;
}
